@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1623393864977') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuanggongnengtubiao-:before {
  content: "\e622";
}

.icon-yonghu:before {
  content: "\e6f1";
}

.icon-shouye:before {
  content: "\e610";
}

.icon-fenlei:before {
  content: "\e617";
}

